<.header>
  New Marriage license
  <:subtitle>Use this form to manage marriage_license records in your database.</:subtitle>
</.header>

<.marriage_license_form changeset={@changeset} action={~p"/marriage_licenses"} />

<.back navigate={~p"/marriage_licenses"}>Back to marriage_licenses</.back>
